<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Binary to Decimal</title>
    </head>
    <body>
        <main>
            <if(data.converter.message)>
                <div id="messageView">${data.converter.message}</div>
            </if>
            <form action="/convert" method="POST">
                <div>
                    <label for="binarynumber">Binary Number: </label>
                    <input alt="Binary Number" type="number" name="binarynumber" id="binarynumber" required autofocus>
                    <input type="submit" value="Compile!">
                </div>
                <if(data.converter.output != null)>
                    <div id="decimal-number">
                        <label for="result">Result: </label>
                        <input type="text" id="result" readonly value=`${data.converter.output}`>
                    </div>
                </if>
            </form>
        </main>        
    </body>
    <footer>
        Bruno Moura 2019&COPY;
    </footer>

    <script>
        function grantMaxLength(element){
            if(8 < element.value.length){
                element.value = element.value.substring(0, 7);
            }
        }
    </script>
</html>