<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="shortcut icon" href="/static/images/favicon.png" type="image/x-icon">
        <link rel="stylesheet" href="/static/css/reset.css">
        <link rel="stylesheet" href="/static/css/principal.css">
        <title>Binary to Decimal</title>
    </head>
    <body>
        <h1 class="main-title">Convert Binary to Decimal</h1>
        <main class="main-content">
            
            <form action="/binary-to-decimal/convert" method="POST">
                <div class="binary-input">
                    <label for="binary">Binary: </label>
                    <input alt="Binary" type="number" name="binary" id="binary" required autofocus>
                    <input class="button-submit" type="submit" value="Compile!">
                </div>
                <if(data.converter.output != null)>
    
                    <div class="user-message-notification show-and-hiding" id="messageView">${data.converter.message}</div>
    
                    <div class="decimal-response show-and-hiding" id="decimal-number">
                        <p><strong>${data.converter.output}</strong></p>
                    </div>
                </if>
            </form>
        </main>        
        <footer class="page-footer">
            Bruno Moura 2019&COPY;
        </footer>
    </body>
</html>