html {
    font-family: "Open Sans Condensed", "Arial", sans-serif;
}



.main-title {
    text-align: center;
    padding: 25px;
    font-size: 40px;
    background-color: darkcyan;
    color: aliceblue;
}

.user-message-notification {
    padding: 20px;
    background-color: cyan;
    border-radius: 20px;
    border-color: black;
    margin: 20px;
    text-align: center;
    text-transform: uppercase;
    
}

.show-and-hiding{
    animation:fading 5s;
    opacity: 0;
}

@keyframes fading{
    0% {
        opacity: 0;
    }
    16% {
       opacity: 1;
    }
    84% {
       opacity: 1;
    }
    100% {
       opacity: 0;
    }
    
}

.main-content {
    padding: 50px;
    text-align: center;
}

.decimal-response {    
    font-size: 70px; 
}

.page-footer {
    width: 100%;
    bottom: 0;
    position: fixed;
    text-align: center;
    padding: 20px;
    background-color: black;
    color: aliceblue;
    font-size: 20px;
}

